body {
  font-family: "Open Sans", sans-serif;
  background-color: #1e1e1e;
}

input {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.videos {
  display: flex; 
  flex-wrap: wrap;
}

.videos video {
  object-fit: cover;
  width:25%;
/* height:100%; */
}

/* Swiper Styling */
/* https://unpkg.com/swiper@8/swiper-bundle.min.css */

.swiper {
  background: #1e1e1e;
}

.swiper-wrapper {
  background: green;
}

.search-input {
  background-color: darkslategray;
}

input.search-input {
  /* the blinking line for text */
  color: beige;
}